         <div class="container-fluid sub-title">
            <div class="container">
               <div class="col-xs-12 text-center">
                  <h1><span class="sm-h1"><%= @webpage.page_title %></span> <span class="red thin">/</span> <%= @webpage.meta_key %></h1>
               </div>
               <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                  <%= @webpage.content.html_safe %>
               </div>
            </div>
         </div>

         <div class="container-fluid our-services">
          <div class="container services-container text-center">
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/apps.png" alt="iOS and Andriod Apps"></p>
              <p>iOS and Android apps</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/responsive.png" alt="Web Applications"></p>
              <p>Web Applications</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/ux.png" alt="User-Experience/User-Interface Design"></p>
              <p>User-Experience/User-Interface Design</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/web-design.png" alt="Website Design and Development"></p>
              <p>Website Design &amp; Development</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/email.png" alt="Email Campaign Design, Development and Tracking"></p>
              <p>Email Campaign Design, Development and Tracking</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/seo.png" alt="Search Engine Optimization"></p>
              <p>Search Engine Optimization</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/ppc.png" alt="PPC/Display Ads"></p>
              <p>PPC/Display Ads</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/creation.png" alt="Content Creation"></p>
              <p>Content Creation</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/hosting.png" alt="Hosting"></p>
              <p>Hosting</p>
            </div>
            <div class="service">
              <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/services/social.png" alt="Social Media Management and Monitoring"></p>
              <p>Social Media Management and Monitoring</p>
            </div>
          </div>
         </div>