         <div class="container-fluid sub-title">
            <div class="container">
               <div class="col-xs-12 text-center">
                  <h1><span class="sm-h1"><%= @webpage.page_title %></span> <span class="red thin">/</span> <%= @webpage.meta_key %></h1>
               </div>
               <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                  <%= @webpage.content.html_safe %>
               </div>
            </div>
         </div>

         <div class="container-fluid projects">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/echo-valley.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-4">
                  <p class="hidden-xs"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/hansen.jpg" class="img-responsive"></p>
                  <div class="visible-xs" style="padding-top: 1px;"><p class="padtop"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/hansen.jpg" class="img-responsive"></p></div>
                  <p class="padtop"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/tyndall.jpg" class="img-responsive"></p>
                </div>
              </div>
              <div class="row padtop">
                <div class="col-xs-12 col-sm-4">
                  <p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/cherry-hill.jpg" class="img-responsive"></p>
                  <p class="padtop"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/spag-works.jpg" class="img-responsive"></p>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/lg-biz-furniture.jpg" class="img-responsive hidden-xs">
                  <div class="visible-xs" style="padding-top: 7px;"><p><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/lg-biz-furniture.jpg" class="img-responsive"></p></div>
                </div>
              </div>
              <div class="row padtop">
                <div class="col-xs-12 col-sm-8">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/roster-apps.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-4">
                  <p class="hidden-xs"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/spanish-fort.jpg" class="img-responsive"></p>
                  <div class="visible-xs" style="padding-top: 1px;"><p class="padtop"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/spanish-fort.jpg" class="img-responsive"></p></div>
                  <p class="padtop"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/work/county-bank.jpg" class="img-responsive"></p>
                </div>
              </div>
            </div>
         </div>