        <div class="container-fluid hp-contact">
          <div class="container contact-hp">
            <div class="col-xs-12 text-center">
              <h2>got a project <span class="thin">in mind?</span> <button class="get-started">let's get started</button></h2>
              <div class="red-angle">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-md-3 col-lg-3 hidden-xs">
                <div class="gray-line">&nbsp;</div>
              </div>
              <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                <h3>or call us <a href="tel:1-888-907-7335">1-888-907-RED5</a></h3>
              </div>
              <div class="col-sm-2 col-md-3 col-lg-3 hidden-xs">
                <div class="gray-line">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid footer">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <img src="images/footer-logo.png" alt="Red 5 Interactive" class="footer-logo">
                <p class="name">red 5 interactive</p>
                <p class="foot-social"><span class="fa fa-facebook-square"></span><span class="fa fa-twitter-square"></span><span class="fa fa-linkedin-square"></span></p>
                <p class="foot-address">1271 W. 8th Street, Suite 500 <span class="red">&middot;</span> West Des Moines, IA 50265 <span class="red">&middot;</span> <a href="tel:1-888-907-7335">1-888-907-RED5</a></p>
                <p class="copy"> copyright &copy;2017, red 5 interactive, inc., all rights reserved</p>
              </div>
            </div>
          </div>
        </div>

      </div>
   </body>
</html>