
         <div class="container-fluid nav-container">  
            <div class="container">
               <div class="col-xs-10 col-sm-8 col-md-5">
                  <a href="/"><img src="images/logo.png" class="img-responsive logo"><span class="red5">red 5 interactive</span></a>
               </div>
               <div class="col-md-7 col-sm-4 text-right">
                  <div class="nav hidden-xs hidden-sm">
                     <ul>
                        <li><a href="about.html">about</a></li>
                        <li><a href="work.html">work</a></li>
                        <li><a href="services.html">services</a></li>
                        <li class="last"><a href="contact.html">contact</a></li>
                     </ul>
                  </div>
                  <div class="visible-xs visible-sm menu-bars">
                    <span class="fa fa-bars">&nbsp;</span>
                  </div>
               </div>
            </div>
         </div>