@pn: "proxima-nova",sans-serif;
@dc: "din-condensed",sans-serif;

.wrapper{
   position: relative;
   max-height: 100%;
   max-width: 100%;
   overflow:hidden;
}
html, body{
   p{
      font-family: @pn;
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
      color: #666666;
   }
   h1, h2, h3, h4, h5, h6{
      font-family: @pn;
      font-weight: 100;
      color: #000;
   }
   h3{
      font-size: 32px;
      line-height: 36px;
   }
}

.nav-container{
   position: relative;
   padding-top: 25px;
   z-index: 10 !important;
   background-color: transparent;
   height: 95px;
   .container{
      @media(max-width:767px){
         padding-left: 0;
         padding-right: 0;
      }
   }
   .logo{
      float: left;
      padding-right: 15px;
      @media(max-width:767px){
         width: 35px;
         margin-left: -10px;
      }
   }
   .red5{
      font-family: @dc;
      font-weight: 700;
      font-size: 24px;
      color: #000;
      letter-spacing: .320em;
      text-transform: uppercase;
      float: left;
      padding-top: 5px;
      @media(max-width:767px){
         font-size: 18px;
         padding-top: 0;
         letter-spacing: .2em;
      }
   }
   .nav{
      ul{
         list-style: none;
         padding: 0;
         li{
            display: inline-block;
            margin-right: 90px;
            padding-top: 5px;
            @media(min-width:992px) and (max-width:1199px){
               margin-right: 50px;
            }
            a{
               font-family: @dc;
               font-weight: 400;
               font-size: 24px;
               letter-spacing: .025em;
               color: #000;
               text-transform: uppercase;
            }
         }
         .last{
            margin-right: 0;
         }
      }
   }
   .menu-bars{
      font-size: 30px;
      @media(max-width:767px){
         margin-top: -10px;
         margin-right: -15px;
      }
      &:hover{
         cursor: pointer;
      }
   }
}

.hero-banner{
   padding: 0 !important;
   position: relative;
   margin-top: -95px;
   left: 0;
   height: 100vh;
   width: 100vw;
   background: #FFF;
   z-index: 1 !important;
   .hero-img{
      height: 100vh;
      width: 100%;
      z-index: 1 !important;
      position: fixed;
      opacity: 0.6;
   }
   .tag-container{
      width: 100%;
      height: auto;
      text-align: center;
      position: relative;
      z-index: 2 !important;
      top: 50%;
      opacity: 1;
      transform: translateY(-50%);
      position: fixed;
      .tag{
         position: relative;
         text-transform: uppercase;
         text-align: center;
         margin-left: auto;
         margin-right: auto;
         @media(min-width:100px) and (max-width:991px){
          width: 100%;
          height: auto;
          padding-left: 15px;
          padding-right: 15px;
         }
         h1{
            font-family: @pn;
            font-size: 120px;
            font-weight: bold;
            @media(min-width:100px) and (max-width:991px){
              font-size: 48px;
            }
         }
         h5{
            font-family: @pn;
            font-size: 14px;
            line-height: 16px;
         }
         .thin{
            font-weight: 100;
         }
         .red{
            position: relative;
            top: 10px;
            font-size: 150px;
            color: #fe0202;
            @media(min-width:100px) and (max-width:991px){
               font-size: 70px;
            }
         }
         .gray{
            position: relative;
            top: 5px;
            font-size: 28px;
            color: #505050;
         }
      }
   }
   .down{
      position: fixed;
      bottom: 120px;
      width: 100%;
      height: 1px;
      text-align: center;
      font-size: 90px;
      color: #FFF;
      z-index: 2 !important;
      -webkit-animation: 3s ease-in-out infinite upDown;
      animation: 3s ease-in-out infinite upDown;
      -moz-animation: 3s ease-in-out infinite upDown;
      &:hover{
         cursor: pointer;
      }
   }
   @keyframes upDown {
        0% {
            bottom: 125px;
            font-size: 90px;
        }
        50% {
            bottom: 90px;
            font-size: 90px;
        }
        100% {
            bottom: 125px;
            font-size: 90px;
        }
    }
}

.hp-about{
   position: relative;
   z-index: 2 !important;
   background: #FFF;
   p{
      padding-top: 30px;
   }
   .down-arrow{
      position: relative;
      width: 100%;
      text-align: center;
      opacity: 1;
      .see-more{
         text-align: center;
         font-size: 16px;
         color: #000;
         font-family: @pn;
         font-weight: bold;
         position: relative;
         margin-top: -80px;
         z-index: 2 !important;
      }
      .down{
         position: relative;
         margin-top: 7px;
      }
   }
}

.hp-work{
   position: relative;
   z-index: 2 !important;
   background: #FFF;
   padding-top: 100px;
   padding-bottom: 100px;
   h2{
      font-size: 48px;
      line-height: 48px;
      font-weight: 100;
      text-transform: uppercase;
      @media(max-width:767px){
         font-size: 30px;
         line-height: 30px;
      }
   }
   h3{
      font-size: 36px;
      font-family: @dc;
      line-height: 80px;
      text-transform: uppercase;
      font-weight: 300;
      @media(min-width: 1200px) and (max-width: 1669px){
         font-size: 30px;
      }
   }
   .gray-line{
      margin-top: 75px;
      @media(min-width: 1200px) and (max-width: 1669px){
         margin-top: 60px;
      }
      @media(min-width: 992px) and (max-width: 1199px){
         margin-top: 60px;
      }
   }
   .work-grid{
      padding-top: 25px;
      .container{
         padding-left: 0;
         padding-right: 0;
      }
      .lg-focal-img{
         position: relative;
         width: 66.67%;
         float: left;
         padding-right: 15px;
         padding-left: 15px;
         @media(max-width:767px){
            width: 100%;
            padding-bottom: 30px;
         }
         .work-text{
            position: absolute;
            margin-left: 45px;
            bottom: 35px;
            height: auto;
            width: auto;
            @media(min-width: 768px) and (max-width: 1199px){
               margin-left: 20px;
            }
            @media(max-width:767px){
               margin-left: 10px;
            }
            .client{
               font-family: @pn;
               font-weight: 100;
               font-size: 28px;
               color: #FFF;
               @media(max-width:767px){
                  font-size: 22px;
               }
            }
            .service{
               font-family: @pn;
               font-weight: 400;
               font-size: 18px;
               color: #FFF;
               @media(max-width:767px){
                  font-size: 14px;
               }
            }
         }
      }
      .sm-focal-img{
         position: relative;
         width: 33.33%;
         float: left;
         padding-left: 15px;
         padding-right: 15px;
         padding-bottom: 30px;
         @media(max-width:767px){
            width: 100%;
         }
         .work-text{
            position: absolute;
            margin-left: 20px;
            bottom: 35px;
            height: auto;
            width: auto;
            @media(min-width: 100px) and (max-width: 1199px){
               margin-left: 10px;
               padding-right: 15px;
            }
            .client{
               font-family: @pn;
               font-weight: 100;
               font-size: 28px;
               color: #FFF;
               @media(min-width: 1200px) and (max-width: 1669px){
                  font-size: 24px;
               }
               @media(min-width: 768px) and (max-width: 991px){
                  font-size: 24px;
               }
               @media(max-width:767px){
                  font-size: 22px;
               }
            }
            .service{
               font-family: @pn;
               font-weight: 400;
               font-size: 18px;
               color: #FFF;
               @media(min-width: 1200px) and (max-width: 1669px){
                  font-size: 16px;
               }
               @media(min-width: 100px) and (max-width: 1199px){
                  font-size: 12px;
               }
            }
         }
      }
      img{
         position: relative;
         display: block;
         width: 100%;
         height: auto;
      }
   }
}

.hp-services{
   position: relative;
   z-index: 2 !important;
   padding-top: 100px;
   padding-bottom: 100px;
   background: url(img/hp-services-bg.jpg) repeat;
   h2{
      font-size: 48px;
      line-height: 48px;
      font-weight: 100;
      text-transform: uppercase;
   }
   h3{
      font-size: 36px;
      font-family: @dc;
      line-height: 80px;
      text-transform: uppercase;
      font-weight: 300;
      @media(min-width: 1200px) and (max-width: 1669px){
         font-size: 30px;
      }
   }
   .gray-line{
      margin-top: 75px;
      @media(min-width: 1200px) and (max-width: 1669px){
         margin-top: 60px;
      }
   }
   .services-container{
      p{
         color: #000;
         @media(min-width: 992px) and (max-width: 1199px){
            font-size: 16px;
         }
      }
      .service{
         position: relative;
         width: 20%;
         padding-top: 45px;
         padding-bottom: 45px;
         height: 300px;
         float: left;
         border:1px solid #cccccc;
         @media(min-width:768px) and (max-width:991px){
            width: 50%;
         }
         @media(max-width:767px){
            width: 100%;
         }
      }
   }
}

.hp-contact{
   position: relative;
   margin-top: 0;
   top: 0;
   z-index: 1 !important;
   padding-top: 130px;
   padding-bottom: 200px;
   background: url(img/hp-contact-bg.jpg) no-repeat;
   background-size: cover;
   .hp-contact-bg{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1 !important;
   }
   .contact-hp{
      position: relative;
      z-index: 2 !important;
      h2{
         text-transform: uppercase;
         color: #FFF;
         font-size: 48px;
         font-weight: bold;
         font-family: @pn;
      }
      h3{
         color: #FFF;
         font-family: @dc;
         font-weight: 300;
         font-size: 36px;
         text-transform: uppercase;
         position: relative;
         margin-top: 35px;
         a{
            color: #FFF;
            padding-left: 45px;
         }
      }
      a{
         color: #FFF;
      }
      .thin{
         font-weight: 100;
      }
      .get-started{
         position: relative;
         font-size: 24px;
         font-family: @pn;
         font-weight: bold;
         text-transform: uppercase;
         background-color: transparent;
         border: 1px solid #FFF;
         padding:10px 35px;
         top: -15px;
         margin-left: 50px;
         @media(min-width: 768px) and (max-width: 1199px){
            top: 0;
         }
         @media(max-width:767px){
            width: 100%;
            margin-left: 0;
            top: 10px;
         }
      }
      .gray-line{
         margin-top: 50px;
         @media(min-width: 1200px) and (max-width: 1669px){
            margin-top: 60px;
         }
      }
   }
}

.footer{
   position: relative;
   z-index: 2 !important;
   background: #f2f2f2;
   padding-bottom: 45px;
   .footer-logo{
      position: relative;
      margin-top: -45px;
   }
   .name{
      font-family: @dc;
      font-weight: bold;
      letter-spacing: 0.32em;
      text-transform: uppercase;
      color: #000;
      font-size: 24px;
      line-height: 24px;
      margin-top: 45px;
   }
   .foot-social{
      color: #000;
      font-size: 26px;
      margin-top: 40px;
      .fa{
         margin-right: 30px;
         &:last-child{
            margin-right: 0;
         }
      }
   }
   .foot-address{
      font-size: 16px;
      line-height: 16px;
      color: #000;
      font-family: @pn;
      .red{
         position: relative;
         top: 5px;
         font-size: 40px !important;
      }
   }
   a{
      color: #000;
   }
   .copy{
      font-family: @pn;
      font-size: 12px;
      color: #999999;
      text-transform: uppercase;
   }
}

.sub-title{
   padding-top: 145px;
   h1{
      text-transform: uppercase;
      font-family: @pn;
      font-weight: 100;
      font-size: 48px;
      .sm-h1{
         font-family: @dc;
         font-size: 36px;
      }
      .red{
         position: relative;
         top: 10px;
         font-size: 70px;
         color: #fe0202;
      }
   }
   h2{
      font-size: 32px;
      padding-top: 40px;
      color: #000;
   }
   p{
      padding-top: 10px;
   }
}
.profiles{
   padding-top: 120px;
   padding-bottom: 150px;
   .img-container{
      padding-top: 30px;
   }
}
.solution{
   padding-bottom: 120px;
   h1{
      font-size: 48px;
      font-weight: 100;
      text-transform: uppercase;
   }
   h3{
      line-height: 32px;
      margin-top: 0;
   }
   p{
      padding-top: 20px;
   }
   .blurb{
      padding-top: 100px;
   }
}
.projects{
   padding-top: 80px;
   padding-bottom: 100px;
   img{
      width: 100%;
   }
   .padtop{
      padding-top: 19px;
      @media(min-width:1670px){
         padding-top: 22px;
      }
      @media(min-width:992px) and (max-width:1199px){
         padding-top: 17px;
      }
      @media(min-width:768px) and (max-width:991px){
         padding-top: 15px;
      }
   }
}
.our-services{
   padding-top: 125px;
   padding-bottom: 125px;
   .services-container{
      p{
         color: #000;
         @media(min-width: 992px) and (max-width: 1199px){
            font-size: 16px;
         }
      }
      .service{
         position: relative;
         width: 20%;
         padding-top: 45px;
         padding-bottom: 45px;
         height: 300px;
         float: left;
         border:1px solid #cccccc;
         @media(min-width:768px) and (max-width:991px){
            width: 50%;
         }
         @media(max-width:767px){
            width: 100%;
         }
      }
   }
}
.contact-us{
   padding-top: 125px;
   padding-bottom: 125px;
   .info{
      p{
         color: #000;
         font-size: 20px;
         line-height: 32px;
      }
      a{
         color: inherit;
      }
   }
   .offset{
      @media(min-width:1670px){
         width: 25%;
      }
   }
}
.gray-section{
   background: url(img/hp-services-bg.jpg) repeat;
   padding-top: 155px;
   padding-bottom: 155px;
}

.red-angle{
   height: 1px;
   width: 75px;
   background: #ff0000;
   position: relative;
   transform:rotate(-40deg);
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
}
.gray-line{
   height: 1px;
   width: auto;
   position: relative;
   background: #cccccc;
}
.learn-more{
   position: relative;
   top: 10px;
   font-size: 16px;
   line-height: 16px;
   border-bottom: 1px solid #ff0000;
   color: #000;
   text-transform: uppercase;
   letter-spacing: .15em;
   &:hover{
      color: #000;
      text-decoration: none;
   }
}
.red{
   color: #b00000;
}

.pad-top{
   padding-top: 15px;
}

// ==================== Bootstrap Adjustments ================== \\
.container{
   @media(min-width:1670px){
      width:1640px;
   }
   @media(min-width:1450) and (max-width:1669px){
      width: 1420px;
   }
}