<%= render :partial => "includes/head" %>
      <div class="wrapper">
        <%= render :partial => "includes/nav" %>
         <div class="container-fluid hero-banner">
            <img src="images/hero-banner.jpg" class="hero-img">
            <div class="tag-container">
               <div class="tag">
                  <h5>est. <span class="gray">/</span> 1996</h5>
                  <h1>we do <br class="visible-xs"><span class="red thin">/</span><br class="visible-xs"> <span class="thin">apps</span> great</h1>
               </div>
            </div>
         </div>

         <div class="clearfix"></div>

         <div class="container-fluid hp-about">
            <div class="down-arrow">
               <div class="see-more">see more</div>
               <img src="images/down-arrow.png" class="down">
            </div>
            <div class="container">
               <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                  <h3>Red 5 Interactive is a fully integrated digital marketing company offering user-experience, design and software development.</h3>
                  <p>We’ve been at the forefront of digital marketing since 1996, creating great web, mobile, apps, ads, UX and games; all with the user in mind.  We can help you realize your digital vision.</p>
                  <p><a href="#" class="learn-more">learn more</a></p>
               </div>
            </div>
         </div>

         <div class="container-fluid hp-work">
            <div class="cotnainer">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <h2>We love what we do and we're proud of our results</h2>
                    <div class="red-angle">&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="container pad-top">
              <div class="row">
                <div class="col-sm-4 col-lg-5 hidden-xs">
                  <div class="gray-line">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-2 text-center">
                  <h3>featured work</h3>
                </div>
                <div class="col-sm-4 col-lg-5 hidden-xs">
                  <div class="gray-line">&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="work-grid">
              <div class="container">
                <div class="lg-focal-img">
                  <img src="images/work/echo-valley.jpg">
                  <div class="work-text">
                    <div class="client">
                      Echo Valley Country Club
                    </div>
                    <div class="service">
                      Branding, Marketing, Website Design, Email Campaign, Signage
                    </div>
                  </div>
                </div>
                <div class="sm-focal-img">
                  <img src="images/work/hansen.jpg">
                  <div class="work-text">
                    <div class="client">
                      Hansen, McClintock &amp; Riley
                    </div>
                    <div class="service">
                      Website Design, Social Media, Branding
                    </div>
                  </div>
                </div>
                <div class="sm-focal-img">
                  <img src="images/work/tyndall.jpg">
                  <div class="work-text">
                    <div class="client">
                      Tyndall Federal Credit Union
                    </div>
                    <div class="service">
                      Website Design, Art Direction, Content Creation
                    </div>
                  </div>
                </div>
                <div class="sm-focal-img">
                  <img src="images/work/biz-furniture.jpg">
                  <div class="work-text">
                    <div class="client">
                      Business Furniture Warehouse
                    </div>
                    <div class="service">
                      Website Design
                    </div>
                  </div>
                </div>
                <div class="sm-focal-img">
                  <img src="images/work/cherry-hill.jpg">
                  <div class="work-text">
                    <div class="client">
                      Cherry Hill Mall
                    </div>
                    <div class="service">
                      Website Design, Content Creation, Email Marketing
                    </div>
                  </div>
                </div>
                <div class="sm-focal-img">
                  <img src="images/work/spag-works.jpg">
                  <div class="work-text">
                    <div class="client">
                      Spaghetti Works
                    </div>
                    <div class="service">
                      Social Media, Website Design, Email Campaign
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="col-xs-12 text-center">
                <p><a href="#" class="learn-more">more of our work</a></p>
              </div>
            </div>
         </div>

        <div class="container-fluid hp-services">
          <div class="container">
            <div class="col-xs-12 text-center">
              <h2>our skills and passion</h2>
              <div class="red-angle">&nbsp;</div>
            </div>
          </div>
          <div class="container pad-top">
            <div class="row">
              <div class="col-sm-5 hidden-xs">
                <div class="gray-line">&nbsp;</div>
              </div>
              <div class="col-xs-12 col-sm-2 text-center">
                <h3>services</h3>
              </div>
              <div class="col-sm-5 hidden-xs">
                <div class="gray-line">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="container services-container text-center">
            <div class="service">
              <p><img src="images/services/apps.png" alt="iOS and Andriod Apps"></p>
              <p>iOS and Android apps</p>
            </div>
            <div class="service">
              <p><img src="images/services/responsive.png" alt="Web Applications"></p>
              <p>Web Applications</p>
            </div>
            <div class="service">
              <p><img src="images/services/ux.png" alt="User-Experience/User-Interface Design"></p>
              <p>User-Experience/User-Interface Design</p>
            </div>
            <div class="service">
              <p><img src="images/services/web-design.png" alt="Website Design and Development"></p>
              <p>Website Design &amp; Development</p>
            </div>
            <div class="service">
              <p><img src="images/services/email.png" alt="Email Campaign Design, Development and Tracking"></p>
              <p>Email Campaign Design, Development and Tracking</p>
            </div>
            <div class="service">
              <p><img src="images/services/seo.png" alt="Search Engine Optimization"></p>
              <p>Search Engine Optimization</p>
            </div>
            <div class="service">
              <p><img src="images/services/ppc.png" alt="PPC/Display Ads"></p>
              <p>PPC/Display Ads</p>
            </div>
            <div class="service">
              <p><img src="images/services/creation.png" alt="Content Creation"></p>
              <p>Content Creation</p>
            </div>
            <div class="service">
              <p><img src="images/services/hosting.png" alt="Hosting"></p>
              <p>Hosting</p>
            </div>
            <div class="service">
              <p><img src="images/services/social.png" alt="Social Media Management and Monitoring"></p>
              <p>Social Media Management and Monitoring</p>
            </div>
          </div>
          <div class="container">
            <p>&nbsp;</p>
            <div class="col-xs-12 text-center">
              <a href="#" class="learn-more">view capabilities</a>
            </div>
          </div>
        </div>

        <script>
           $(document).ready(function(){
              $(window).scroll(function(){
                if($(window).scrollTop()>250){
                  var top=$(this).scrollTop();
                  if(top<650){
                      var dif=1.5-top/350;
                      $(".tag-container").css({opacity:dif});
                      $(".down-arrow").css({opacity:dif});
                  }
                }else{
                  $(".tag-container").css({'opacity':'1'});
                  $(".down-arrow").css({'opacity':'1'});
                }
              });
           });
        </script>
      <%= render :partial => "includes/footer" %>