<%= render :partial => "includes/head" %>
      <div class="wrapper">
        <%= render :partial => "includes/nav" %>

         <div class="container-fluid sub-title">
            <div class="container">
               <div class="col-xs-12 text-center">
                  <h1><span class="sm-h1"><%= @webpage.page_title %></span> <span class="red thin">/</span> about red 5 interactive</h1>
               </div>
               <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                  <h2>The genesis of Red 5 Interactive goes back to January of 1996.</h2>
                  <p>The Internet was still new to most everyone, and Internet marketing was virtually unknown.  Red 5 grew fast as our clients discovered our passion for not only doing great software, but also marrying it to great design and user experience.</p>
               </div>
            </div>
         </div>

         <div class="container-fluid profiles">
            <div class="container">
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="images/profile/bob.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="images/profile/brandon.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="images/profile/kristin.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="images/profile/steve.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="images/profile/lacey.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="images/profile/ravindra.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid solution">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 text-center">
                     <h1>a custom solution for every industry</h1>
                  </div>
                  <div class="col-xs-12 text-center">
                     <div class="red-angle"></div>
                  </div>
               </div>
               <div class="clearfix"></div>
               <div class="row blurb">
                  <div class="col-xs-12 col-sm-4">
                     <img src="images/sitemanforretail.jpg" class="img-responsive">
                  </div>
                  <div class="col-xs-12 col-sm-8">
                     <h3>Siteman for Retail</h3>
                     <p>While we develop custom solutions for nearly all industries (banking, legal, insurance, agriculture, consumer packaged goods, retail brands, and more) we’ve developed a terrific solution for the shopping mall industry in particular.  Our SiteMan for Retail SaaS product serves hundreds of malls as a complete turnkey web, mobile-web, email, social, and mobile app platform driving shoppers to their properties.</p>
                     <p><a href="contact.html" class="learn-more">learn more</a>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="container-fluid gray-section">
            <div class="container">
               <div class="col-xs-12 col-sm-8 blurb">
                  <h3>We take the time to understand our client's business needs and audience so we can help them achieve success</h3>
                  <p>Our passion for great software and great design remains at our core as we’ve grown into designing and developing mobile apps, SEO, ads, social media, games and e-learning solutions.</p>
                  <p><a href="#" class="learn-more">contact us today for a free consultation</a></p>
                  <p>
               </div>
               <div class="col-xs-12 col-sm-4 text-center">
                  <img src="images/solution.png" class="img-responsive">
               </div>
            </div>
         </div>
        <%= render :partial => "includes/footer" %>