@nova: "proxima-nova";
@din: "din-condensed";

html, body{
   font-family: @nova;
   font-size: 18px;
   line-height: 32px;
}
.wrapper{
   height: auto;
   width: 100%;
   overflow: hidden;
}
.head{
   position: fixed;
   height: 90px;
   width: 100%;
   z-index: 100 !important;
   background: url(img/head-bg.png) repeat;
   text-transform: uppercase;
   .main-nav{
      font-family: @din;
      padding:25px 0;
      a{
         color: #000;
         text-decoration: none;
      }
      .tag{
         font-size: 24px;
         letter-spacing: .32em;
         @media(min-width:768px) and (max-width:991px){
            font-size: 22px;
         }
         @media(max-width:767px){
            font-size: 22px;
            text-align: center
         }
         @media(max-width:342px){
            font-size: 22px;
            text-align: center
         }
      }
      .nav{
         text-align: right;
         a{
            color: #000;
            text-decoration: none;
            font-size: 20px;
            letter-spacing: .025em;
            text-transform: uppercase;
            @media(min-width:768px) and (max-width:991px){
               font-size: 18px;
               margin-left: -25px;
            }
         }
         ul{
            padding:none;
            list-style: none;
            li{
               display: inline-block;
               margin-right: 50px;
               @media(min-width:768px) and (max-width:991px){
                  margin-right: 45px;
               }
            }
            .last{
               margin-right: 0;
               font-family: @nova;
            }
         }
      }
   }
}
.thanks{
   min-height: 700px;
   width: 100%;
   background: url(img/thank-bg.jpg) no-repeat center;
   background-size: cover;
}
.content{
   position: relative;
   margin-top: 90px;
   .logo{
      padding-top: 50px;
      @media(max-width:767px){
         display: block;
         margin: 0 auto;
         padding-top: 25px;
      }
   }
   .tagline{
      margin-top: 100px;
      font-family: @nova;
      font-size: 6em;
      line-height: .8em;
      font-weight: bold;
      text-transform: uppercase;
      @media(min-width:992px) and (max-width:1199px){
         font-size: 5em;
      }
      @media(min-width:768px) and (max-width:991px){
         font-size: 4em;
      }
      @media(max-width:767px){
         font-size: 4em;
         text-align: center;
         margin-top: 50px;
      }
   }
   .angle-sm-left{
      position: absolute;
      top: 150px;
      left: 100px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      height: 275px;
      width: 275px;
      overflow: hidden;
      @media(min-width:768px) and (max-width:991px){
         left:150px;
      }
      @media(max-width:767px){
         position: relative;
         left: 0;
         top: 50px;
      }
      .redline{
         margin-left: 30px;
         height: 2px;
         width: 130px;
         background: #ff0000;
         @media(max-width:767px){
            display: none;
         }
      }
   }
   .angle-sm-right{
      position: absolute;
      top: 230px;
      left: 575px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      height: 275px;
      width: 275px;
      overflow: hidden;
      @media(max-width:767px){
         position: relative;
         left: 0;
         top: -90px;
      }
      .redline{
         margin-left: 30px;
         height: 2px;
         width: 130px;
         background: #ff0000;
         @media(max-width:767px){
            display: none;
         }
      }
      img{
         z-index: 1 !important;
      }
      .sm-white{
         position: absolute;
         bottom: 0;
         left: 0;
         height: 125px;
         width: 75px;
         opacity: .7;
         background: #FFF;
         z-index: 2 !important;
      }
   }
   .angle-md{
      position: absolute;
      top: 280px;
      left: 150px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      height: 350px;
      width: 350px;
      overflow: hidden;
      @media(min-width:768px) and (max-width:991px){
         left:200px;
      }
      @media(max-width:767px){
         position: relative;
         left: 0;
         top: -50px;
      }
   }

   .angle-sm-left2{
      position: absolute;
      top: 150px;
      left: 100px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      height: 275px;
      width: 275px;
      overflow: hidden;
      @media(min-width:768px) and (max-width:991px){
         left:150px;
      }
      @media(max-width:767px){
         position: relative;
         left: 0;
         top: 50px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
   }
   .angle-sm-right2{
      position: absolute;
      top: 230px;
      left: 575px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      height: 275px;
      width: 275px;
      overflow: hidden;
      @media(min-width:416px) and (max-width:767px){
         position: relative;
         left: 0;
         top: -90px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
      @media(min-width:376px) and (max-width:415px){
         position: relative;
         left: 0;
         top: -110px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
      @media(min-width:351px) and (max-width:375px){
         position: relative;
         left: 0;
         top: -150px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
      @media(min-width:320px) and (max-width:350px){
         position: relative;
         left: 0;
         top: -165px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
      img{
         z-index: 1 !important;
      }
      .sm-white{
         position: absolute;
         bottom: 0;
         left: 0;
         height: 125px;
         width: 75px;
         opacity: .7;
         background: #FFF;
         z-index: 2 !important;
      }
   }
   .angle-md2{
      position: absolute;
      top: 280px;
      left: 150px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      height: 350px;
      width: 350px;
      overflow: hidden;
      @media(min-width:768px) and (max-width:991px){
         left:200px;
      }
      @media(min-width:350px) and (max-width:767px){
         position: relative;
         left: 0;
         top: -30px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
      @media(min-width:320px) and (max-width:350px){
         position: relative;
         left: 0;
         top: -20px;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;
      }
   }
}

.work{
   a{
      color: inherit;
      text-decoration: none;
   }
}

.copy{
   padding-top: 100px;
   font-size: 18px;
   line-height: 32px;
   @media(min-width:992px) and (max-width:1199px){
      padding-top: 175px;
   }
   @media(min-width:768px) and (max-width:991px){
      padding-top: 300px;
      margin-bottom: 100px;
   }
   .get-in-touch{
      text-transform: uppercase;
      color: #FFF;
      font-size: 30px;
      border:none;
      background: #ff0000;
      padding: 10px 50px;
      margin-top: 15px;
      @media(max-width:767px){
         font-size: 20px;
         display: block;
         margin: 25px auto 0 auto;
      }
   }
   .gray-slant{
      position: relative;
      top: 150px;
      right: 0;
      height: 115px;
      width: 300px;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      background: #e6e6e6;
      opacity: .8;
      @media(max-width:767px){
         display: none;
      }
   }
}
.section{
   padding-top: 100px;
   .header{
      font-size: 60px;
      text-transform: uppercase;
      font-weight: bold;
      @media(min-width:768px) and (max-width:1199px){
         line-height: 56px;
      }
      @media(max-width:767px){
         line-height: 56px;
      }
   }
   .burgline{
      position: relative;
      margin-left: 30px;
      margin-top: 30px;
      height: 2px;
      width: 130px;
      background: #a11414;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
   }
   .burgline2{
      position: relative;
      margin-left: 30px;
      margin-top: 30px;
      height: 2px;
      width: 130px;
      background: #a11414;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
   }
   .copy{
      position: relative;
      height: auto;
      padding-top: 100px;
      font-size: 18px;
      line-height: 32px;
      @media(max-width:767px){
         padding-top: 50px;
      }
   }
   .icons{
      .img-container{
         padding-bottom: 15px;
         @media(max-width:767px){
            padding-top: 30px;
         }
         img{
            height: 103px;
            width: auto;
            display: block;
            margin:0 auto;
         }
      }
      p{
         height: 75px;
         font-size: 18px;
         line-height: 18px;
         @media(max-width:767px){
            padding:0 0 30px 0;
            width: 95%;
            margin: 0 auto;
         }
      }
   }
   .right{
      position: relative;
      margin-top: 5px;
      @media(min-width:992px) and (max-width:1199px){
         margin-top: -50px;
      }
      @media(min-width:768px) and (max-width:991px){
         margin-top: -20px;
      }
      @media(max-width:767px){
         margin-top: 30px;
      }
   }
   .right2{
      position: relative;
      margin-top: -80px;
      @media(min-width:992px) and (max-width:1199px){
         margin-top: -50px;
      }
      @media(min-width:768px) and (max-width:991px){
         margin-top: 110px;
      }
      @media(max-width:767px){
         margin-top: 70px;
      }
   }
   .right3{
      position: relative;
      margin-top: -75px;
      @media(min-width:992px) and (max-width:1199px){
         margin-top: -50px;
      }
      @media(min-width:768px) and (max-width:991px){
         margin-top: 45px;
      }
   }
   .echo-text{
      top: 0;
      @media(min-width:768px) and (max-width:991px){
         top: -20px;
      }
      @media(max-width:767px){
         top: 20px;
      }
   }
   .buis-text{
      position: relative;
      top: 350px;
      @media(min-width:992px) and (max-width:1199px){
         top: 250px;
      }
      @media(min-width:768px) and (max-width:991px){
         top: 220px;
      }
      @media(max-width:767px){
         top: 20px;
      }
   }
   .right-text2{
      position: relative;
      top: 250px;
   }
   .hansen-text{
      position: relative;
      top: 175px;
      @media(min-width:768px) and (max-width:991px){
         top: 250px;
      }
      @media(max-width:767px){
         top: 20px;
      }
   }
   .fleur-text{
      position: relative;
      top: 190px;
      @media(min-width:768px) and (max-width:991px){
         top: 185px;
      }
      @media(max-width:767px){
         top: 20px;
      }
   }
   .left{
      position: relative;
      top: 75px;
      @media(min-width:992px) and (max-width:1199px){
         top: 75px;
      }
      @media(min-width:768px) and (max-width:991px){
         top: 275px;
      }
      @media(max-width:767px){
         top: 80px;
      }
   }
   .left2{
      position: relative;
      top: 75px;
      @media(min-width:768px) and (max-width:991px){
         top: 75px;
      }
   }
   .clients-last{
      @media(max-width:767px){
         margin-top: 75px;
      }
   }
   .tyndall-text{
      position: relative;
      top: 120px;
      @media(min-width:992px) and (max-width:1199px){
         top: 120px;
      }
      @media(min-width:768px) and (max-width:991px){
         top: 50px;
      }
      @media(max-width:767px){
         top: 95px;
      }
   }
   .cherry-text{
      position: relative;
      top: 130px;
      @media(min-width:992px) and (max-width:1199px){
         top: 100px;
      }
      @media(min-width:768px) and (max-width:991px){
         top: 100px;
      }
      @media(max-width:757px){
         top: 90px;
      }
   }
   .red-left{
      position: absolute;
      margin-left: 0px;
      margin-top: 30px;
      height: 2px;
      width: 130px;
      background: #ff0000;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      @media(max-width:767px){
         display: none;
      }
   }
   .red-right{
      position: absolute;
      left: 10px;
      margin-top: 50px;
      height: 2px;
      width: 130px;
      background: #ff0000;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari */
      transform: skewY(-30deg); /* Standard syntax */
      @media(min-width:768px) and (max-width:991px){
         margin-top: -10px;
      }
      @media(max-width:767px){
         display: none;
      }
   }
}
.gray-slant2{
   position: relative;
   left: 0;
   bottom: 0;
   height: 100px;
   width: 250px;
   background: #e6e6e6;
   opacity: .8;
   -ms-transform: skewY(-30deg); /* IE 9 */
   -webkit-transform: skewY(-30deg); /* Safari */
   transform: skewY(-30deg); /* Standard syntax */
   @media(max-width:767px){
      display: none;
   }
}
.hp-contact{
   p{
      font-weight: 100;
      font-size: 17px;
      text-transform: uppercase;
   }
   .form-control{
      border-radius: 0;
   }
   .submit-btn{
      border-radius: 15px;
      border:none;
      text-align: center;
      width: 250px;
      display: block;
      height: 50px;
      background: #000;
      color: #FFF;
      text-transform: uppercase;
      margin:0 auto;
      position: relative;
      top: 30px;
      font-size: 24px;
      letter-spacing: .05em;
   }
}
.footer{
   background: #e6e6e6;
   padding:0;
   .logo{
      position: relative;
      width: 50px;
      height: auto;
      margin: 0 auto;
      display: block;
      top: -35px;
      img{
         width: 55px;
      }
   }
   .name{
      text-transform: uppercase;
      font-family: @din;
      font-size: 24px;
      letter-spacing: .32em;
   }
   .address{
      font-size: 16px;
      letter-spacing: .05em;
      padding-top: 10px;
      a{
         color: #000;
         text-decoration: none;
      }
   }
   .copy{
      padding-top: 1px;
      padding-bottom: 50px;
      color: #999;
      font-size: 12px;
      letter-spacing: .05em;
   }
}
.totop{
   height: 50px;
   width: 50px;
   position: fixed;
   bottom: 50px;
   right: 50px;
   background: #000;
   color: #FFF;
   font-size: 30px;
   text-align: center;
   padding-top: 8px;
   opacity: .5;
   display: none;
   &:hover{
      opacity: .7;
   }
}
// ==================== Random Settings ==================== \\
.up50{
   margin-top: -50px;
}
.up150{
   margin-top: -150px;
}
.up200{
   position: relative;
   margin-top: -200px;
}
.down75{
   margin-top: 75px;
}
.down50{
   margin-top: 50px;
}
.down25{
   margin-top: 25px;
}
.para{
   position: relative;
   @media(max-width:767px){
      top: 1000px;
   }
}
.para2{
   position: relative;
}
.hideme{
   opacity: 0;
}
.square-up{
   -ms-transform: skewY(30deg); /* IE 9 */
   -webkit-transform: skewY(30deg); /* Safari */
   transform: skewY(30deg); /* Standard syntax */
}