

         <div class="container-fluid sub-title">
            <div class="container">
               <div class="col-xs-12 text-center">
                  <h1><span class="sm-h1"><%= @webpage.page_title %></span> <span class="red thin">/</span> <%= @webpage.meta_key %></h1>
               </div>
               <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                  <%= @webpage.content.html_safe %>
               </div>
            </div>
         </div>

         <div class="container-fluid profiles">
            <div class="container">
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/profile/bob.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/profile/brandon.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/profile/kristin.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/profile/steve.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/profile/lacey.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="img-container">
                     <div class="img">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/profile/ravindra.jpg" class="img-responsive">
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid solution">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 text-center">
                     <h1>a custom solution for every industry</h1>
                  </div>
                  <div class="col-xs-12 text-center">
                     <div class="red-angle"></div>
                  </div>
               </div>
               <div class="clearfix"></div>
               <div class="row blurb">
                  <div class="col-xs-12 col-sm-4">
                     <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/sitemanforretail.jpg" class="img-responsive">
                  </div>
                  <div class="col-xs-12 col-sm-8">
                     <h3>Siteman for Retail</h3>
                     <p>While we develop custom solutions for nearly all industries (banking, legal, insurance, agriculture, consumer packaged goods, retail brands, and more) we’ve developed a terrific solution for the shopping mall industry in particular.  Our SiteMan for Retail SaaS product serves hundreds of malls as a complete turnkey web, mobile-web, email, social, and mobile app platform driving shoppers to their properties.</p>
                     <p><a href="contact.html" class="learn-more">learn more</a>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="container-fluid gray-section">
            <div class="container">
               <div class="col-xs-12 col-sm-8 blurb">
                  <h3>We take the time to understand our client's business needs and audience so we can help them achieve success</h3>
                  <p>Our passion for great software and great design remains at our core as we’ve grown into designing and developing mobile apps, SEO, ads, social media, games and e-learning solutions.</p>
                  <p><a href="#" class="learn-more">contact us today for a free consultation</a></p>
                  <p>
               </div>
               <div class="col-xs-12 col-sm-4 text-center">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/solution.png" class="img-responsive">
               </div>
            </div>
         </div>