<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="HandheldFriendly" content="true" />
      <meta name="description" content="Grow your business with user-friendly web design, email and social media marketing, display ads, SEO & more. Our motto: We Do Great!">
      <title>Digital Marketing, Web Design, Apps | Red 5 Interactive</title>

      <script src="https://use.typekit.net/xvq3bek.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

      <!-- Favicon -->
      <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage) -%>/designs/images/favicon.ico">
      <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage) -%>/designs/images/apple-touch-icon.png">

      <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage) -%>/designs/stylesheets/layout.css">

      <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/parallax.js"></script>
      <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/jquery.sticky.js"></script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script>
         var OnSubmit = function(token) {
            $('#insightly_firstName, #insightly_lastName, #insightly_Email, #insightly_organization, #insightly_Phone, #insightly_LEAD_FIELD_1').each(function() {
               if ($(this).val() == '') {
                  $('.alert').show();
               }else{
                  document.getElementById("form").submit();
               }
            });
         };
         var onloadCallback = function() {
            grecaptcha.render('submit', {
               'sitekey' : '6LfE_hgUAAAAAKbd4ASbgWwJSfmPI0GtLKtyve0S',
               'callback' : OnSubmit
            });
         };

      </script>

      <link rel="stylesheet" type="text/css" href="css/layout.css">
   </head>

   <body>
      <div id="top"></div>
      <div class="wrapper">
         <div class="container-fluid head">
            <div class="main-nav">
               <div class="col-xs-12 col-sm-4">
                  <div class="tag">Red 5 Interactive</div>
               </div>
               <div class="col-xs-12 col-sm-8 hidden-xs">
                  <div class="nav">
                     <ul>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#our_work">Our Work</a></li>
                        <li><a href="#contact">Get in Touch</a></li>
                        <li class="last"><a href="tel:1-888-907-7335"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/phone.png"> 1.888.907.red5</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid content">
            <div class="col-sm-2">
               <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/logo.png" class="img-responsive logo">
               <div class="tagline">
                  We<br />
                  Do<br />
                  Great
               </div>
            </div>
            <div class="col-sm-9 col-md-offset-1 hidden-xs">
               <div class="angle-sm-left">
                  <div class="redline"></div>
                  <div class="square-up">
                     <div class="img-sm">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/desktop.png" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="angle-md">
                  <div class="square-up">
                     <div class="img-sm">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/tablet.png" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="angle-sm-right">
                  <div class="redline"></div>
                  <div class="square-up">
                     <div class="img-sm">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/phone1.png" class="img-responsive">
                     </div>
                  </div>
                  <div class="sm-white"></div>
               </div>
            </div>

            <div class="col-sm-9 col-md-offset-1 visible-xs">
               <div class="angle-sm-left2">
                  <div class="square-up">
                     <div class="img-sm">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/desktop.png" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="angle-md2">
                  <div class="square-up">
                     <div class="img-sm">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/tablet.png" class="img-responsive">
                     </div>
                  </div>
               </div>
               <div class="angle-sm-right2">
                  <div class="square-up">
                     <div class="img-sm">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/phone1.png" class="img-responsive">
                     </div>
                  </div>
                  <div class="sm-white"></div>
               </div>
            </div>
         </div>

         <div class="clearfix"></div>

         <div class="container-fluid copy">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-6">
               <p>Red 5 Interactive is a fully integrated digital marketing company offering user-experience, design and software development. We've been at the forefront of digital marketing since 1996, creating great web, mobile, apps, ads, UX and games; all with the user in mind. We can help you realize your digital vision.</p>
               <p><a href="#contact"><button class="get-in-touch">get in touch</button></a></p>
            </div>
            <div class="col-sm-2">
               <div class="gray-slant"></div>
            </div>
         </div>

         <div class="container-fluid section">
            <div class="row">
               <div class="col-xs-12 col-sm-4">
                  <div class="header hideme" id="services">
                     services
                  </div>
               </div>
               <div class="col-sm-2 hidden-xs">
                  <div class="burgline"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-4 copy">
                  <p>Red 5 spends quality time with each and every client to determine who your audiences are and what you want to accomplish with them. From these conversations, our team will craft a digital marketing strategy that inspires our clients and their audiences. Through this diligence and discipline of never using a cookie-cutter approach to any client initiative, we accomplish great things for our clients.
               </div>
               <div class="col-xs-12 col-sm-8 icons">
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/app.png" class="img-responsive">
                     </div>
                     <p>iOS and Android apps</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/responsive.png" class="img-responsive">
                     </div>
                     <p>Web Applications</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/ux.png" class="img-responsive">
                     </div>
                     <p>User-Experience/<br class="visible-xs">User-Interface Design</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/web-design.png" class="img-responsive">
                     </div>
                     <p>Website Design &amp; Development</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/email.png" class="img-responsive">
                     </div>
                     <p>Email Campaign Design, Development and Tracking</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/seo.png" class="img-responsive">
                     </div>
                     <p>Search Engine Optimization</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/ppc.png" class="img-responsive">
                     </div>
                     <p>PPC/ Display Ads</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/creation.png" class="img-responsive">
                     </div>
                     <p>Content Creation</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/hosting.png" class="img-responsive">
                     </div>
                     <p>Hosting</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hidden-xs hidden-sm">
                     <p>&nbsp;</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/social.png" class="img-responsive">
                     </div>
                     <p>Social Media Management and Monitoring</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid section">
            <div class="row">
               <div class="col-xs-12 col-sm-4">
                  <div class="header hideme" id="our_work">
                     our work
                  </div>
               </div>
            </div>
            <div class="row copy work">
               <div class="col-xs-12 col-sm-4 hideme">
                  <p>We've been making our clients look like rockstars since 1996. iOS and Android apps, web apps, UI/UX design, display ads, custom web presences, email campaigns, e-commerce, SEO, PPC, social media, content creation, digital design and development - we handle it all for you. Take a look at our examples and contact us today to let us help tell your brand's story.</p>
               </div>
               <div class="para">
                  <div class="col-xs-12 col-sm-3 hideme">
                     <a href="http://echovalleycc.com/" target="_blank">
                        <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/echovalley.png" class="img-responsive up50"></a>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 text-left echo-text hideme">
                  <p><strong><a href="http://echovalleycc.com/" target="_blank">Echo Valley Country Club</a></strong></p>
                     <p>Branding, Marketing, Website Design, Email Campaign, Signage</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-sm-pull-4 text-right buis-text hideme hidden-xs">
                     <p><strong><a href="http://bfwiowa.com/" target="_blank">Business Furniture Warehouse</a></strong></p>
                     <p>Website Design</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-push-4 col-md-push-1 right hideme">
                     <div class="red-right"></div>
                     <a href="http://bfwiowa.com/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/furniture.png" class="img-responsive"></a>
                  </div>
                  <div class="col-xs-12 visible-xs text-right buis-text hideme">
                     <p><strong><a href="http://bfwiowa.com/" target="_blank">Business Furniture Warehouse</a></strong></p>
                     <p>Website Design</p>
                  </div>
                  <div class="col-xs-12 col-md-5 col-md-push-7 tyndall-text hideme hidden-sm hidden-xs">
                     <p><strong><a href="https://tyndall.org/" target="_blank">Tyndall Federal Credit Union</a></strong></p>
                     <p>Website Design, Art Direction, Content Creation</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-pull-3 col-md-pull-1 left hideme">
                     <a href="https://tyndall.org/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/tyndall.png" class="img-responsive"></a>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-sm-offset-7 tyndall-text hideme visible-sm">
                     <p><strong><a href="https://tyndall.org/" target="_blank">Tyndall Federal Credit Union</a></strong></p>
                     <p>Website Design, Art Direction, Content Creation</p>
                  </div>
                  <div class="col-xs-12 tyndall-text hideme visible-xs">
                     <p><strong><a href="https://tyndall.org/" target="_blank">Tyndall Federal Credit Union</a></strong></p>
                     <p>Website Design, Art Direction, Content Creation</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right hansen-text hidden-xs hideme">
                     <p><strong><a href="http://www.hmrlawfirm.com/" target="_blank">Hansen, McClintock &amp; Riley</a></strong></p>
                     <p>Website Design, Social Media, Branding</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 right2 hideme">
                     <div class="red-right"></div>
                     <a href="http://www.hmrlawfirm.com/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/hansen.png" class="img-responsive"></a>
                  </div>
                  <div class="col-xs-12 col-sm-4 text-right hansen-text visible-xs hideme">
                     <p><strong><a href="http://www.hmrlawfirm.com/" target="_blank">Hansen, McClintock &amp; Riley</a></strong></p>
                     <p>Website Design, Social Media, Branding</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-offset-4 left2 hideme">
                     <a href="https://cherryhillmall.com/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/cherry-hill.png" class="img-responsive"></a>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 clients-cherry cherry-text hideme">
                     <p><strong><a href="https://cherryhillmall.com/" target="_blank">Cherry Hill Mall</a></strong></p>
                     <p>Website Design, Content Creation, Email Marketing</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right fleur-text hidden-xs hideme">
                     <p><strong><a href="http://fleurcinema.com/" target="_blank">The Fleur Cinema &amp; Caf&eacute;</a></strong></p>
                     <p>Website Design, Email Marketing</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 right3 hideme clients-last">
                     <div class="red-right"></div>
                     <a href="http://fleurcinema.com/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/fleur-cinema.png" class="img-responsive"></a>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right fleur-text visible-xs hideme">
                     <p><strong><a href="http://fleurcinema.com/" target="_blank">The Fleur Cinema &amp; Caf&eacute;</a></strong></p>
                     <p>Website Design, Email Marketing</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-offset-4 left2 hideme">
                     <a href="http://spagworks.com/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/spag-works.png" class="img-responsive"></a>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 clients-cherry cherry-text hideme">
                     <p><strong><a href="http://spagworks.com/" target="_blank">Spaghetti Works</a></strong></p>
                     <p>Website, Social Media, Email Campaign</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="gray-slant2"></div>
            </div>
            <div class="row para2">
               <div class="col-xs-12 col-sm-5">
                  <div class="header hideme" id="contact">
                     get in touch
                  </div>
               </div>
               <div class="col-sm-2 hidden-xs">
                  <div class="burgline2"></div>
               </div>
            </div>
            <div class="row copy para2">
               <div class="col-xs-12 col-sm-4 hideme">
                  <p>We take the time to understand our client's business needs and audience so we can help them achieve success. Please contact us today for a free consultation.</p>
               </div>
               <div class="col-xs-12 col-sm-8">
                  <div class="alert text-center" style="color: #F00;font-size:20px;display: none;">
                     All fields are required
                  </div>
                  <form id="form" class="hp-contact" name="insightly_web_to_lead" action="https://psalp1ty.insight.ly/WebToLead/Create" method="post">
                     <input type="hidden" name="formId" value="6JIAHuTE3/9NO1w+iEK+5g==" />
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>First Name<br />
                        <input type="text" class="form-control" id="insightly_firstName" name="FirstName"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Last Name<br />
                        <input type="text" class="form-control" id="insightly_lastName" name="LastName"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Email address<br />
                        <input type="text" class="form-control" id="insightly_Email" name="email"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Company Name<br />
                        <input type="text" class="form-control" id="insightly_organization" name="OrganizationName"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Phone Number<br />
                        <input type="text" class="form-control" id="insightly_Phone" name="phone"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Have a specific question?<br />
                        <textarea class="form-control" id="insightly_LEAD_FIELD_1" name="LEAD_FIELD_1" rows="3"></textarea></p>
                        <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1274492"/><input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1537909"/>
                     </div>
                     <div class="col-xs-12 hideme">
                        <button class="g-recaptcha submit-btn" data-sitekey="6LfE_hgUAAAAAKbd4ASbgWwJSfmPI0GtLKtyve0S" data-callback="OnSubmit" data-badge="bottomleft">Submit</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

      <div class="container-fluid footer">
         <div class="row">
            <div class="logo">
               <img src="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/images/logo.png">
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 text-center name">
               red 5 interactive
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 text-center address">
               1271 W. 8th Street, Suite 500 • West Des Moines, IA 50265 • <a href="tel:1-888-907-7335">1-888-907-RED5</a>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 text-center copy">
               Copyright ©2017, Red 5 Interactive, Inc., All rights reserved
            </div>
         </div>
      </div>
   </div>
   <a href="#top"><div class="totop"><i class="fa fa-arrow-up"></i></div></a>

      <script>
         //$(".head").sticky({ topSpacing: 0 });
         $(document).ready(function(){
           $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: target.offset().top -150
                    }, 1300);
                    return false;
                  }
                }
              });
            });

            $(window).scroll(function() {
               if ($(document).scrollTop() > 500) {
                  $('.totop').fadeIn('slow');
               }
               else {
                  $('.totop').fadeOut('slow');
               }
            });
         });
      </script>

      <!-- GA Combo Tracking -->
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-821816-1', 'r5i.com', 'auto', {'allowLinker': true});
         ga('require', 'linker');
         ga('linker:autoLink', ['sitemanforretail.com', 'advancedeliveryia.com'] );
         ga('send', 'pageview');

        </script>
   </body>
</html> 