<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="HandheldFriendly" content="true" />
      <meta name="description" content="Grow your business with user-friendly web design, email and social media marketing, display ads, SEO & more. Our motto: We Do Great!">
      <title>Digital Marketing, Web Design, Apps | Red 5 Interactive</title>

      <script src="https://use.typekit.net/xvq3bek.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

      <!-- Favicon -->
      <link rel="shortcut icon" href="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/default/images/favicon.ico">
      <link rel="apple-touch-icon" href="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/default/images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/default/images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/default/images/apple-touch-icon-114x114.png">

      <link rel="stylesheet" href="/presents/redfive_13/designs/stylesheets/layout.css">

      <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/parallax.js"></script>
      <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/jquery.sticky.js"></script>
   </head>

   <body>
      <div id="top"></div>
      <div class="wrapper">
         <div class="container-fluid head">
            <div class="main-nav">
               <div class="col-xs-12 col-sm-4">
                  <a href="/"><div class="tag">Red 5 Interactive</div></a>
               </div>
               <div class="col-xs-12 col-sm-8 hidden-xs">
                  <div class="nav">
                     <ul>
                        <li><a href="/#services">Services</a></li>
                        <li><a href="/#our_work">Our Work</a></li>
                        <li><a href="/#contact">Get in Touch</a></li>
                        <li class="last"><a href="tel:1-888-907-7335"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/phone.png"> 1.888.907.red5</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid content thanks">
            <div class="col-xs-12 col-sm-12 text-center">
               <h1 class="hidden-xs">&nbsp;</h1>
               <h1 class="hidden-xs">&nbsp;</h1>
               <h1>&nbsp;</h1>
               <h1 style="font-size: 50px;">Got It! Thank you!</h1>
            </div>
         </div>

         <div class="container-fluid footer">
            <div class="row">
               <div class="logo">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/logo.png">
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 text-center name">
                  red 5 interactive
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 text-center address">
                  1271 W. 8th Street, Suite 500 • West Des Moines, IA 50265 • <a href="tel:1-888-907-7335">1-888-907-RED5</a>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 text-center copy">
                  Copyright ©2017, Red 5 Interactive, Inc., All rights reserved
               </div>
            </div>
         </div>
      </div>
   <a href="#top"><div class="totop"><i class="fa fa-arrow-up"></i></div></a>

      <script>
         //$(".head").sticky({ topSpacing: 0 });
         $(document).ready(function(){
           $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: target.offset().top -150
                    }, 1300);
                    return false;
                  }
                }
              });
            });

            $(window).scroll(function() {
               if ($(document).scrollTop() > 500) {
                  $('.totop').fadeIn('slow');
               }
               else {
                  $('.totop').fadeOut('slow');
               }
            });
         });
      </script>

      <!-- GA Combo Tracking -->
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-821816-1', 'r5i.com', 'auto', {'allowLinker': true});
         ga('require', 'linker');
         ga('linker:autoLink', ['sitemanforretail.com', 'advancedeliveryia.com'] );
         ga('send', 'pageview');

        </script>
   </body>
</html> 