
      <div class="wrapper">
         <div class="container-fluid head">
            <div class="main-nav">
               <div class="col-xs-12 col-sm-4">
                  <div class="tag">Red 5 Interactive</div>
               </div>
               <div class="col-xs-12 col-sm-8 hidden-xs">
                  <div class="nav">
                     <ul>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#our_work">Our Work</a></li>
                        <li><a href="#contact">Get in Touch</a></li>
                        <li class="last"><a href="tel:1-888-907-7335"><%= image_tag "phone.png" %> 1.888.907.red5</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid content">
            <div class="col-sm-2">
               <%= image_tag "logo.png", :class=>"img-responsive" %>
               <div class="tagline">
                  We<br />
                  Do<br />
                  Great
               </div>
            </div>
            <div class="col-sm-9 col-md-offset-1 hidden-xs">
               <div class="angle-sm-left">
                  <div class="redline"></div>
                  <div class="square-up">
                     <div class="img-sm">
                        <%= image_tag "desktop.png", :class=>"img-responsive" %>
                     </div>
                  </div>
               </div>
               <div class="angle-md">
                  <div class="square-up">
                     <div class="img-sm">
                        <%= image_tag "tablet.png", :class=>"img-responsive" %>
                     </div>
                  </div>
               </div>
               <div class="angle-sm-right">
                  <div class="redline"></div>
                  <div class="square-up">
                     <div class="img-sm">
                        <%= image_tag "phone1.png", :class=>"img-responsive" %>
                     </div>
                  </div>
                  <div class="sm-white"></div>
               </div>
            </div>

            <div class="col-sm-9 col-md-offset-1 visible-xs">
               <div class="angle-sm-left2">
                  <div class="square-up">
                     <div class="img-sm">
                        <%= image_tag "desktop.png", :class=>"img-responsive" %>
                     </div>
                  </div>
               </div>
               <div class="angle-md2">
                  <div class="square-up">
                     <div class="img-sm">
                        <%= image_tag "tablet.png", :class=>"img-responsive" %>
                     </div>
                  </div>
               </div>
               <div class="angle-sm-right2">
                  <div class="square-up">
                     <div class="img-sm">
                        <%= image_tag "phone1.png", :class=>"img-responsive" %>
                     </div>
                  </div>
                  <div class="sm-white"></div>
               </div>
            </div>
         </div>

         <div class="clearfix"></div>

         <div class="container-fluid copy">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-6">
               <p>Red 5 Interactive is a fully integrated digital marketing company offering user-experience, design and software development. We've been at the forefront of digital marketing since 1996, creating great web, mobile, apps, ads, UX and games; all with the user in mind. We can help you realize your digital vision.</p>
               <p><button class="get-in-touch">get in touch</button></p>
            </div>
            <div class="col-sm-2">
               <div class="gray-slant"></div>
            </div>
         </div>

         <div class="container-fluid section">
            <div class="row">
               <div class="col-xs-12 col-sm-4">
                  <div class="header hideme" id="services">
                     services
                  </div>
               </div>
               <div class="col-sm-2 hidden-xs">
                  <div class="burgline"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-4 copy">
                  <p>Red 5 spends quality time with each and every client to determine who your audiences are and what you want to accomplish with them. From these conversations, our team will craft a digital marketing strategy that inspires our clients and their audiences. Through this diligence and discipline of never using a cookie-cutter approach to any client initiative, we accomplish great things for our clients.
               </div>
               <div class="col-xs-12 col-sm-8 icons">
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "app.png", :class=>"img-responsive" %>
                     </div>
                     <p>iOS and Android apps</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "responsive.png", :class=>"img-responsive" %>
                     </div>
                     <p>Web Applications</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "ux.png", :class=>"img-responsive" %>
                     </div>
                     <p>User-Experience/<br class="visible-xs">User-Interface Design</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "web-design.png", :class=>"img-responsive" %>
                     </div>
                     <p>Website Design &amp; Development</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "email.png", :class=>"img-responsive" %>
                     </div>
                     <p>Email Campaign Design, Development and Tracking</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "seo.png", :class=>"img-responsive" %>
                     </div>
                     <p>Search Engine Optimization</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "ppc.png", :class=>"img-responsive" %>
                     </div>
                     <p>PPC/ Display Ads</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "creation.png", :class=>"img-responsive" %>
                     </div>
                     <p>Content Creation</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "hosting.png", :class=>"img-responsive" %>
                     </div>
                     <p>Hosting</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hidden-xs hidden-sm">
                     <p>&nbsp;</p>
                  </div>
                  <div class="col-xs-6 col-md-4 text-center hideme">
                     <div class="img-container">
                        <%= image_tag "social.png", :class=>"img-responsive" %>
                     </div>
                     <p>Social Media Management and Monitoring</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="container-fluid section">
            <div class="row">
               <div class="col-xs-12 col-sm-4">
                  <div class="header hideme" id="our_work">
                     our work
                  </div>
               </div>
            </div>
            <div class="row copy">
               <div class="col-xs-12 col-sm-4 hideme">
                  <p>We've been making our clients look like rockstars since 1996. iOS and Android apps, web apps, UI/UX design, display ads, custom web presences, email campaigns, e-commerce, SEO, PPC, social media, content creation, digital design and development - we handle it all for you. Take a look at our examples and contact us today to let us help tell your brand's story.</p>
               </div>
               <div class="para">
                  <div class="col-xs-12 col-sm-3 hideme">
                     <%= image_tag "echovalley.png", :class=>"img-responsive up50" %>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 text-left echo-text hideme">
                     <p><strong>Echo Valley Country Club</strong></p>
                     <p>Branding, Marketing, Website Design, Email Campaign, Signage</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-sm-pull-4 text-right buis-text hideme hidden-xs">
                     <p><strong>Business Furniture Warehouse</strong></p>
                     <p>Website Design</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-push-4 col-md-push-1 right hideme">
                     <div class="red-right"></div>
                     <%= image_tag "furniture.png", :class=>"img-responsive" %>
                  </div>
                  <div class="col-xs-12 visible-xs text-right buis-text hideme">
                     <p><strong>Business Furniture Warehouse</strong></p>
                     <p>Website Design</p>
                  </div>
                  <div class="col-xs-12 col-md-5 col-md-push-7 tyndall-text hideme hidden-sm hidden-xs">
                     <p><strong>Tyndall Federal Credit Union</strong></p>
                     <p>Website Design, Art Direction, Content Creation</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-pull-3 col-md-pull-1 left hideme">
                     <%= image_tag "tyndall.png", :class=>"img-responsive" %>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-sm-offset-7 tyndall-text hideme visible-sm">
                     <p><strong>Tyndall Federal Credit Union</strong></p>
                     <p>Website Design, Art Direction, Content Creation</p>
                  </div>
                  <div class="col-xs-12 tyndall-text hideme visible-xs">
                     <p><strong>Tyndall Federal Credit Union</strong></p>
                     <p>Website Design, Art Direction, Content Creation</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right hansen-text hidden-xs hideme">
                     <p><strong>Hansen, McClintock &amp; Riley</strong></p>
                     <p>Website Design, Social Media, Branding</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 right2 hideme">
                     <div class="red-right"></div>
                     <%= image_tag "hansen.png", :class=>"img-responsive" %>
                  </div>
                  <div class="col-xs-12 col-sm-4 text-right hansen-text visible-xs hideme">
                     <p><strong>Hansen, McClintock &amp; Riley</strong></p>
                     <p>Website Design, Social Media, Branding</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-offset-4 left2 hideme">
                     <%= image_tag "cherry-hill.png", :class=>"img-responsive" %>
                     <div class="red-left"></div>
                  </div>
                  <div class="col-xs-12 col-sm-5 clients-cherry cherry-text hideme">
                     <p><strong>Cherry Hill Mall</strong></p>
                     <p>Website Design, Content Creation, Email Marketing</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right fleur-text hidden-xs hideme">
                     <p><strong>The Fleur Cinema &amp; Caf&eacute;</strong></p>
                     <p>Website Design, Email Marketing</p>
                  </div>
                  <div class="col-xs-12 col-sm-3 right3 hideme clients-last">
                     <div class="red-right"></div>
                     <%= image_tag "fleur-cinema.png", :class=>"img-responsive" %>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right fleur-text visible-xs hideme">
                     <p><strong>The Fleur Cinema &amp; Caf&eacute;</strong></p>
                     <p>Website Design, Email Marketing</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="gray-slant2"></div>
            </div>
            <div class="row para2">
               <div class="col-xs-12 col-sm-5">
                  <div class="header hideme" id="contact">
                     get in touch
                  </div>
               </div>
               <div class="col-sm-2 hidden-xs">
                  <div class="burgline2"></div>
               </div>
            </div>
            <div class="row copy para2">
               <div class="col-xs-12 col-sm-4 hideme">
                  <p>We take the time to understand our client's business needs and audience so we can help them achieve success. Please contact us today for a free consultation.</p>
               </div>
               <div class="col-xs-12 col-sm-8">
                  <form class="hp-contact">
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>First Name<br />
                        <input type="text" class="form-control" name="fname"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Last Name<br />
                        <input type="text" class="form-control" name="lname"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Email address<br />
                        <input type="text" class="form-control" name="email"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Company Name<br />
                        <input type="text" class="form-control" name="cname"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Phone Number<br />
                        <input type="text" class="form-control" name="phone"></p>
                     </div>
                     <div class="col-xs-12 col-sm-6 hideme">
                        <p>Have a specific question?<br />
                        <textarea class="form-control" name="question" rows="3"></textarea></p>
                     </div>
                     <div class="col-xs-12 hideme">
                        <input type="submit" name="submit" class="submit-btn" value="send">
                  </form>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid footer">
         <div class="row">
            <div class="logo">
               <%= image_tag "logo.png" %>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 text-center name">
               red 5 interactive
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 text-center address">
               1271 W. 8th Street, Suite 500 • West Des Moines, IA 50265 • <a href="tel:1-888-907-7335">1-888-907-RED5</a>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 text-center copy">
               Copyright ©2017, Red 5 Interactive, Inc., All rights reserved
            </div>
         </div>
      </div>
   </div>
   <a href="#top"><div class="totop"><i class="fa fa-arrow-up"></i></div></a>

      <script>
         //$(".head").sticky({ topSpacing: 0 });
         $(document).ready(function(){
           $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: target.offset().top -150
                    }, 1300);
                    return false;
                  }
                }
              });
            });

            $(window).scroll(function() {
               if ($(document).scrollTop() > 500) {
                  $('.totop').fadeIn('slow');
               }
               else {
                  $('.totop').fadeOut('slow');
               }
            });
         });
      </script>